@using Microsoft.AspNetCore.Http;
@using OSModels;
@using System.Text.Json;
@model List<OSModels.Order>

@{
    ViewData["Title"] = "OrderHistory";
    List<Item> items = JsonSerializer.Deserialize<List<Item>>(Context.Session.GetString("orderItems"));
}

<h1>Order History</h1>

<form>
    <div style="padding: 5px">
        Sort by Price:
        <button type="submit" name="sortType" value="0" class="btn btn-lg btn-outline-warning" asp-action="SortedOrderHistory">Ascending</button>
        <button type="submit" name="sortType" value="1" class="btn btn-lg btn-outline-warning" asp-action="SortedOrderHistory">Descending</button>
    </div>
    <div style="padding: 5px">
        Sort by Date:
        <button type="submit" name="sortType" value="2" class="btn btn-lg btn-outline-warning" asp-action="SortedOrderHistory">Ascending</button>
        <button type="submit" name="sortType" value="3" class="btn btn-lg btn-outline-warning" asp-action="SortedOrderHistory">Descending</button>
    </div>
</form>

<table class="table">
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    <b>Order #@item.ID - @item.Date</b>
                </td>
                <td></td>
                <td></td>
                <td>
                    Total Price: @item.TotalPrice Doge
                </td>
                <td></td>
            </tr>
            foreach (Item itm in items)
            {
                if (itm.OrderID == item.ID)
                {
                    <tr>
                        <td></td>
                        <td>
                            @itm.Product.Name
                        </td>
                        <td>
                            Quantity: @itm.Quantity
                        </td>
                        <td>
                            Price: @itm.Product.Price Doge
                        </td>
                        <td></td>
                    </tr>
                }
            }
        }
    </tbody>
</table>

<form><button type="submit" class="w-100 btn btn-lg btn-outline-primary" asp-controller="Customer" asp-action="CustomerHome">Back to home</button></form>
